.App {
  width: 100%;
}

.WelcomeBlock {
  position: absolute;
  top: 0;,
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.AppLogo {
  padding: 30px;
  border-radius: 50%;
  background-color: #1B346C;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.MainBlock {
  z-index: 100;
}

.Fade {
  animation: fading 0.5s linear 1 forwards;
}

@keyframes fading {
  0% {
    top: 0;
  }
  25% {
    top: -25%;
  }
  50% {
    top: -50%;
  }
  75% {
    top: -75%;
  }
  100% {
    top: -100%;
  }
}

.Hide {
  display: none;
}

.Show {
  display: block;
  z-index: 500;
}

