.PlaygroundContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 40px;
  box-sizing: border-box;
}

.PlaygroundItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.PlaygroundItem ion-icon {
  color: white;
  width: 50px;
  height: 50px;
}

.PlaygroundItem p {
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  margin: 3px 0;
}

.PlaygroundItem img {
  width: 50px;
  height: 50px;
}