.Header {
  color: white;
  font-family: inherit;
  font-size: 2.5em;
  font-weight: 800;
  margin: 20px;
}

.Body p {
  color: white;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 400;
  margin: 10px;
}

.FootNote {
  color: #3f3f3f;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
  margin-top: 40px;
  text-align: right;
}