.ContactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px 40px;
  box-sizing: border-box;
}

.ContactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 33%;
  box-sizing: border-box;
}

.ContactItem ion-icon {
  color: white;
  width: 50px;
  height: 50px;
}

.ContactItem a {
  text-decoration: none;
  padding: 10px;
}

.ContactItem:hover {
  cursor: pointer;
  background-color: rgba(195,195,195,0.5)
}

.ContactItem p {
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  margin: 3px 0;
}

.ContactItem img {
  width: 50px;
  height: 50px;
}

@media (max-width: 499px) {
  .ContactContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
  }
}