.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #1B346C;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  text-align: center;
}

.SideNavItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SideNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SideNavItem ion-icon {
  color: white;
  font-size: 1.0em;
  margin-right: 5px;
}

.SideNavItem p {
  color: white;
  font-size: 1.0em;
  font-family: inherit;
  font-weight: 400;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 8%;
  margin-bottom: 32px;
}